.scan-animation {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  border-radius: inherit;
}

.scan-animation::before {
  content: '';
  position: absolute;
  left: 0;
  width: 100%;
  height: 4px;
  background: hsla(var(--primary), 0.7);
  box-shadow: 0 0 10px hsla(var(--primary), 1), 0 0 20px hsla(var(--primary), 1);
  animation: scan 2.5s ease-in-out forwards;
}

@keyframes scan {
  from {
    top: 0;
  }
  to {
    top: 100%;
  }
}
